/*CSS for standard tags*/
* {
    box-sizing: border-box;
    font-family: "Baskerville Old Face";
}

html {
    /*firefox scrollbar*/
    scrollbar-width: thin;
    scrollbar-color: rgb(112, 26, 26) black;
}

/*scrollbar for other browsers*/
html::-webkit-scrollbar {
    width: .9vw; /*view width units for scaling size*/
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(112, 26, 26);
}
html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(129, 48, 48);
}

html::-webkit-scrollbar-track {
    border-radius: 25px;
}

html::-webkit-scrollbar-track-piece {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 55px;
    margin: 10px auto;
    width: 50%;
}

h2 {
    border: 2px solid;
    text-align: center;
    font-size: 30px;
    background-color: #ffd1b3;
}

hr {
    display: block;
    margin: 20px auto 0px;
    height: 2px;
    background-color: black;
    border: hidden;
    width: 50%;
}

figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px; /*height declared for vertical partitions between images*/
}

figcaption {
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: bold;
}

select {
    background-color: #ffd1b3;
}

@media (max-width: 768px) {
    body { /*remove margins when entering tablet view*/
        margin: 0px;
    }
}
/*End of CSS for standard tags*/

/*CSS for nav elements*/
.navContainer {
    background-color: black;
    border-right: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 215px;
    height: 175px;
    border: 8px solid;
    border-color: rgb(112, 26, 26);
    border-radius: 50px;
    margin: 20px auto;
}

.navMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px; /*should always be 0 to take full 20% of screen's width*/
    width: 100%;
    text-align: center;
}

ul.navMenu > li {
    display: inline-block;
    height: 60px;
    width: 100%;
}

.navButton {
    background-color: rgb(112, 26, 26);
    border: hidden;
    border-bottom: 1px solid black;
    height: 60px;
    width: 100%;
    font-size: 1.6em;
    padding: 0px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #dab297;
}

#map {
    width: 250px;
    height: 200px;
    border: 5px solid rgb(112, 26, 26);
    border-radius: 20px;
    margin: 25px auto 20px;
}

#mapMobile {
    display: none;
    width: 250px;
    height: 200px;
    border: 5px solid rgb(112, 26, 26);
    border-radius: 20px;
    margin: 25px auto 0px;
    background-color: black;
}

.footerMenu {
    position: absolute;
    bottom: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: rgb(112, 26, 26);
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul.footerMenu > li {
    list-style-type: none;
    width: 100%;
    font-size: .96em;
}


#navFooterMobile {
    display: none;
    background-color: black;
    padding-bottom: 25px;
}

.footerMenuMobile {
    height: auto;
    width: 100%;
    background-color: rgb(112, 26, 26);
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul.footerMenuMobile > li {
    list-style-type: none;
    width: 100%;
    font-size: .96em;
}

@media (max-width: 1400px) {
    #map {
        width: 200px;
        height: 175px;
    }
}

@media (max-width: 1160px) {
    #logo {
        width: 175px;
        height: 140px;
    }
    #map {
        width: 175px;
        height: 200px;
    }
}

@media (max-width: 1040px) {
    ul.navMenu > li {
        font-size: .92em;
    }
    ul.footerMenu > li {
        font-size: .9em;
    }

}

@media (max-width: 956px) {
    #map {
        width: 140px;
    }
    #logo {
        width: 140px;
        height: 130px;
    }
}

@media (max-width: 956px) {
    #map {
        width: 120px;
    }
}

@media (max-width: 768px) {
    #navFooter {
        display: none;
    }
    #navFooterMobile {
        display: block;
    }

    #map {
        display: none;
    }
    #mapMobile {
        display: block;
    }

    #logo {
        width: 230px;
        height: 170px;
    }
    .navContainer {
        border-right: none;
        position: sticky;
        right: 0;
        height: auto;
        width: 100%; /*width changing from 20% to 100% once entering tablet view*/
    }
    .navMenu {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2px;
    }    
    .navButton {
        border-bottom: none;
        border-right: 1px solid black;
    }
    .navMenu > li:last-child > a > .navButton  {
        border-right: none;
    }
}

@media (max-width: 580px) {
    #logo {
        width: 200px;
        height: 150px;
        border-width: 6px;
    }
    .navButton {
        font-size: 1.3em;
    }
    .footerMenuMobile {
        font-size: .93em;
    }
    #mapMobile {
        width: 220px;
        height: 170px;
    }
}

@media (max-width: 420px) {
    #logo {
        width: 180px;
        height: 140px;
    }
    .navButton {
        font-size: 1.1em;
    }
    .footerMenuMobile {
        font-size: .79em;
    }
    #mapMobile {
        width: 170px;
        height: 120px;
    }
}

@media (max-width: 354px) {
    #logo {
        width: 160px;
        height: 120px;
        border-width: 4px;
    }
    .navButton {
        font-size: .9em;
    }
}

/*End of CSS for nav elements*/

/*Start of CSS for main content*/
#content {
    background: linear-gradient(
        to bottom,
        rgb(250,217,97), 
        rgb(247,107,28) /*#ff8533 or rgb(247,107,28)*/
    );
    position: absolute;
    top: 0;
    right: 0;
    height: auto; /*set to auto for gradiant color*/
    width: 80%;
}

#disclaimer {
    text-align: center;
}

@media (max-width: 768px) {
    #content{
        display: fixed;
        width: 100%;
        top: 18em; /* aligns content directly underneath nav menu */
    }

    #disclaimer { 
        font-size: .90em;       
    }

    h1 {
        font-size: 45px;
    }

@media (max-width: 580px) {
    #content {
        top: 16.77em;
    }

    #disclaimer { 
        font-size: .75em;       
    }

    h1 {
        font-size: 35px;
    }
}

@media (max-width: 420px) {
    #content {
        top: 16.1em;
    }

    #disclaimer { 
        font-size: .64em;       
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-width: 354px) {
    #content {
        top: 14.9em;
    }

    #disclaimer { 
        font-size: .58em;       
    }

    h1 {
        font-size: 25px;
    }
}
}

/*CSS for total cart*/
#cart {
    margin-top: 30px;
    margin-right: 30px;
    position: fixed;
    right: 2em;
    top: 0;
    height: 80px;
    width: 80px;
    border-radius: 45px;
    background-color: #ffd1b3;
    cursor: pointer;
}

#cart:hover {
    background-color: #dab297;
}

.cartSidebar {
    position: fixed;
    height: 70%;
    width: 20%;
    top: 9vw;
    right: 0;
    border: 2px solid black;
    background-color: rgb(112, 26, 26);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.showCart {
    visibility: visible !important;
}

@keyframes slideOut {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

@keyframes slideIn {
    0% {
        width: 20%;
    }
    100% {
        width: 0;
    }
}

#itemsList {
    overflow-y: auto;
    height: 60%;
    /*firefox*/
    scrollbar-width: thin;
    scrollbar-color: rgb(250,217,97) black;
}

#itemsList::-webkit-scrollbar {
    width: .5vw;
}

#itemsList::-webkit-scrollbar-thumb {
    background-color: rgb(250,217,97);
    border-radius: 25px;
}

#itemsList::-webkit-scrollbar-thumb:hover {
    background-color: rgb(203, 174, 67);
}

#itemsList::-webkit-scrollbar-track {
    border-radius: 25px;
}

#itemsList::-webkit-scrollbar-track-piece {
    background-color: black;
    border-radius: 25px;
}

#itemsList > div {
    margin: 0px auto 0px 30px;
    font-size: 1.1em;
}

#itemsList button {
    background-color: rgb(112, 26, 26);
    border: none;
    cursor: pointer;
}

#displaySubTotal {
    text-align: center;
    font-size: 1.4em;
    border-top: 1px solid black;
}

#checkout {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: #dab297;
    font-size: 2em;
    border: none;
    border-top: 1px solid black;
    cursor: pointer;
    border-radius: 0px 0px 0px 15px;
}

@media (max-width: 1470px) {
    .cartSidebar {
        top: 11vw;
    }
}

@media (max-width: 1208px) {
    .cartSidebar {
        top: 13vw;
    }
}

@media (max-width: 1030px) {
    #cart {
        height: 60px;
        width: 60px;
    }

    .cartSidebar {
        top: 15vw;
    }
}

@media (max-width: 874px) {
    .cartSidebar {
        top: 17vw;
    }
}

@media (max-width: 768px) {
    #cart {
        margin-top: 70px;
        margin-right: 70px;
        height: 75px;
        width: 75px;
    }

    .cartSidebar {
        top: auto;
        right: auto;
        left: auto;
        bottom: 0;
        width: 80%;
        height: 65%;
        margin-left: 10vw;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }

    #checkout {
        border-radius: 0px;
    }

    @keyframes slideOut {
        0% {
            height: 0;
        }
        100% {
            height: 65%;
        }
    }
    
    @keyframes slideIn {
        0% {
            height: 65%;
        }
        100% {
            height: 0;
        }
    }
}

@media(max-width: 672px) {
    #cart {
        height: 65px;
        width: 65px;
        margin-right: 45px;
    }
}

@media(max-width: 580px) {
    #cart {
        height: 55px;
        width: 55px;
        margin-right: 45px;
    }
}

@media(max-width: 472px) {
    #cart {
        height: 50px;
        width: 50px;
        margin-right: 15px;
    }
}

@media(max-width: 384px) {
    #cart {
        height: 50px;
        width: 50px;
        margin-right: 0px;
    }
}

    /*CSS for menu elements*/
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menuChangeContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;    
    }

    #menuCategory {
        height: 60px;
        width: 200px;
        padding: 10px;
        margin-top: 25px;
        margin-bottom: 10px;
        border-radius: 35px;
    }

    .menuButton {
        margin: 35px 10px 10px 10px;
        border: 3px solid;
        border-radius: 25px;
        height: 40px;
        background-color: #ffd1b3;
        cursor: pointer;
    }

    .menuButton:hover {
        background-color: #dab297;
    }

    .indexIndicator {
        text-align: center;
        margin-bottom: 10px;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #ffd1b3;
        border-radius: 50%;
        display: inline-block;
        border: solid 1px black;
    }

    .indexCurrent {
        background-color: #dab297;
    }

    .menuRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px 0px;
    }

    .menuItem {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 40px;
    }

    .menuItem > p {
        margin: 0px auto 5px;
        font-weight: bold;
        font-size: 25px;
        width: 250px;
    }

    .menuItem > img {
        border: 6px inset rgb(112, 26, 26);
        border-radius: 60px;
        display: block;
        margin: auto;
        padding: auto;
        width: 275px;
        height: 250px;
    }

    .menuItem > p.description {
        margin: 5px auto;
        font-weight: lighter;
        font-size: 20px;
    }

    .cartButton {
        background-color: #ffd1b3;
        border-radius: 25px;
        cursor: pointer;
    }

    .cartButton:hover {
        background-color: #dab297;
    }

    .cookiesMenu {
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    .browniesMenu {
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    .drinksMenu {
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    .invisible {
        display: none;
    }
    

    @keyframes fade-in { /*goes visible*/
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        /*for reference >> https://www.youtube.com/watch?v=gGJTBpDwsSM  */
        /*from video >> https://jsfiddle.net/2zLv4hfy/1/  */
    }

    @keyframes fade-out { /*goes invisible*/
        100% {
            opacity: 0;
        }
        0% {
            opacity: 1;
        }
    }

    @media (max-width: 1340px) {
        .menuItem > p {
            font-size: 22px;
            width: 225px;
        }
    
        .menuItem > img {
            border: 4px inset rgb(112, 26, 26);
            width: 250px;
            height: 225px;
        }
    
        .menuItem > p.description {
            font-size: 18px;
        }
    }

    @media (max-width: 1240px) {
        .menuItem > p {
            font-size: 20px;
            width: 200px;
        }
    
        .menuItem > img {
            width: 225px;
            height: 200px;
        }
    
        .menuItem > p.description {
            font-size: 17px;
        }
    }

    @media (max-width: 1120px) {
        .menuItem > p {
            font-size: 17px;
            width: 175px;
        }
    
        .menuItem > img {
            width: 200px;
            height: 175px;
        }
    
        .menuItem > p.description {
            font-size: 16px;
        }
    }

    @media (max-width: 1000px) {
        .menuItem > p {
            font-size: 15px;
            width: 150px;
        }
    
        .menuItem > img {
            width: 175px;
            height: 150px;
        }
    
        .menuItem > p.description {
            font-size: 15px;
        }
    }

    @media (max-width: 890px) {
        .menuItem > p {
            font-size: 14px;
            width: 150px;
        }
    
        .menuItem > img {
            width: 150px;
            height: 125px;
            border-radius: 35%;
        }
    
        .menuItem > p.description {
            font-size: 13px;
        }
    }

    @media (max-width: 768px) {
        .menuChangeContainer > h2 {
            font-size: 25px;
        }

        .menuButton {
            border: 2px solid;
            height: 35px;
            border-radius: 30px;
            font-size: .75em;
        }

        #menuCategory {
            height: 55px;
        }
    }

    @media (max-width: 672px) {
        .menuItem {
            margin: 0px;
        }

        .menuItem > p {
            font-size: 12px;
            width: 120px;
        }
    
        .menuItem > img {
            width: 120px;
            height: 100px;
        }
    
        .menuItem > p.description {
            font-size: 12px;
        }
    }

    @media (max-width: 580px) {
        .menuChangeContainer > h2 {
            font-size: 22px;
        }

        .menuButton {
            height: 31px;
            border-radius: 15px;
            font-size: .6em;
        }

        #menuCategory {
            height: 50px;
            width: 150px;
        }

        .dot {
            height: 20px;
            width: 20px;
        }

        .menuItem > p {
            font-size: 11px;
            width: 110px;
        }
    
        .menuItem > img {
            width: 110px;
            height: 85px;
        }
    
        .menuItem > p.description {
            font-size: 10px;
        }

        select {
            font-size: 0.9em;
        }
        
        .cartButton > i {
            font-size: 0.7em;
        }
    }

    @media (max-width: 520px) {
        .menuItem > p {
            font-size: 10px;
            width: 100px;
        }
    
        .menuItem > img {
            width: 100px;
        }

        select {
            font-size: 0.87em;
        }
        
        .cartButton > i {
            font-size: 0.67em;
        }
    }

    @media (max-width: 482px) {
        .menuItem > p {
            font-size: 9px;
            width: 90px;
        }
    
        .menuItem > img {
            width: 90px;
            height: 85px;
        }

        .menuItem > p.description {
            width: 100px;
        }
    }

    @media (max-width: 420px) {
        .menuChangeContainer > h2 {
            font-size: 17px;
        }

        .menuButton {
            height: 26px;
            font-size: .47em;
        }

        #menuCategory {
            height: 45px;
            width: 110px;
        }

        .dot {
            height: 17px;
            width: 17px;
        }
    }

    @media (max-width: 354px) {
        .menuChangeContainer > h2 {
            font-size: 14px;
        }

        .menuButton {
            height: 23px;
            font-size: .34em;
        }

        #menuCategory {
            height: 40px;
            width: 90px;
        }

        .dot {
            height: 14px;
            width: 14px;
        }

        .menuItem > p {
            font-size: 8px;
            width: 85px;
        }
    
        .menuItem > img {
            width: 85px;
            height: 80px;
        }

        .cartButton > i {
            font-size: 0.59em;
        }
    }
    /*End of CSS for menu elements*/

    /*Start of CSS for gallery elements*/
    #gallery {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    .galleryContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
    
    .vl {
        border-left: 1px solid black;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0px;
        opacity: 30%;
      }

    .galleryContainer > img {
        height: 400px;
        width: 400px;
        border-radius: 45px;
        box-shadow: 10px 5px 5px rgb(112, 26, 26);
    }

    @media (max-width: 1740px) {
        .galleryContainer > img {
            height: 340px;
            width: 340px;
        }

        figure {
            height: 400px;
        }
    }

    @media (max-width: 1580px) {
        .galleryContainer > img {
            height: 300px;
            width: 300px;
        }

        figure {
            height: 360px;
        }
    }

    @media (max-width: 1400px) {
        .galleryContainer > img {
            height: 270px;
            width: 270px;
        }

        figure {
            height: 320px;
        }

        figcaption {
            font-size: 1.2em;
        }
    }

    @media (max-width: 1240px) {
        .galleryContainer > img {
            height: 240px;
            width: 240px;
        }

        figure {
            height: 320px;
        }
    }

    @media (max-width: 1120px) {
        .galleryContainer > img {
            width: 220px;
        }

        figcaption {
            font-size: 1.1em;
        }

        .vl {
            display: none;
        }

        figure {
            height: fit-content;
        }
    }

    @media (max-width: 1000px) {
        .galleryContainer > img {
            width: 200px;
            height: 210px;
        }
    }

    @media (max-width: 890px) {
        .galleryContainer > img {
            width: 165px;
        }

        figcaption {
            font-size: 1em;
        }
    }

    @media (max-width: 768px) {
        .galleryContainer > img {
            width: 190px;
            height: 230px;
        }
    }

    @media (max-width: 700px) {
        .galleryContainer > img {
            width: 165px;
            height: 220px;
        }
    }

    @media (max-width: 640px) {
        .galleryContainer > img {
            width: 145px;
            height: 200px;
        }
    }

    @media (max-width: 580px) {
        .galleryContainer > img {
            width: 135px;
            height: 190px;
        }
    }

    @media (max-width: 520px) {
        .galleryContainer > img {
            width: 115px;
            height: 155px;
        }

        figure {
            margin-left: 30px;
            margin-right: 30px;
        }

        figcaption {
            font-size: 0.8em;
        }
    }

    @media (max-width: 454px) {
        .galleryContainer > img {
            width: 105px;
            height: 135px;
        }

        figcaption {
            font-size: 0.75em;
        }
    }

    @media (max-width: 424px) {
        .galleryContainer > img {
            width: 95px;
        }

        figure {
            margin-left: 20px;
            margin-right: 20px;
        }

        figcaption {
            font-size: 0.71em;
        }
    }

    @media (max-width: 392px) {
        .galleryContainer > img {
            width: 85px;
        }

        figcaption {
            font-size: 0.63em;
        }
    }

    @media (max-width: 360px) {
        .galleryContainer > img {
            width: 80px;
        }

        figure {
            margin-left: 15px;
            margin-right: 15px;
        }

        figcaption {
            font-size: 0.58em;
        }
    }
    /*End of CSS of gallery elements*/

    /*Start of CSS for about us*/
    #aboutUs {
        margin:  20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #ownerImage {
        height: 550px;
        width: 550px;
        margin: 0px auto;
        float: right;
        border-radius: 300px;
        box-shadow: 10px 5px 5px rgb(112, 26, 26);
    }

    .aboutUsP {
        width: 65%;
        font-size: 1.7em;
        margin: 20px auto;
        text-align: center;
        }

    .quote {
        border: 8px double black;
    }

    @media (max-width: 1300px) {
        .aboutUsP {
            font-size: 1.55em;
            width: 75%;
        }

        #ownerImage {
            height: 450px;
            width: 450px;
        }
    }

    @media (max-width: 1120px) {
        .aboutUsP {
            font-size: 1.3em;
        }

        #ownerImage {
            height: 400px;
            width: 400px;
        }
    }

    @media (max-width: 890px) {
        .aboutUsP {
            font-size: 1.1em;
            width: 80%;
        }

        #ownerImage {
            height: 300px;
            width: 300px;
        }
    }

    @media (max-width: 580px) {
        .aboutUsP {
            font-size: 1em;
            width: 85%;
        }

        #ownerImage {
            height: 250px;
            width: 250px;
        }
    }

    @media (max-width: 420px) {
        .aboutUsP {
            font-size: 0.9em;
        }

        #ownerImage {
            height: 200px;
            width: 200px;
        }
    }
    /*End of CSS for about us*/
    
    /*Start of CSS for news*/
    #news {
        margin:  20px auto;
        display: flex;
        flex-direction: column;
    }
    
    .newsP {
        width: 65%;
        font-size: 2.0em;
        margin: 20px auto;
        text-align: center;
        font-weight: bolder;
    }

    .articleView {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .articleButton {
        margin: auto 10px;
        border: 3px solid;
        border-radius: 25px;
        height: 40px;
        background-color: #ffd1b3;
        cursor: pointer;
    }

    .articleButton:hover {
        background-color: #dab297;
    }

    .articleContainer {
        margin: 0px 20px;
        width: 67%;
        height: auto;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        /*scroll-snap-type: x mandatory;*/ /*belongs in container*/

        /*firefox scrollbar*/
        scrollbar-width: thin;
        scrollbar-color: rgb(112, 26, 26) black;
    }

    /*scrollbar for other browsers*/
    .articleContainer::-webkit-scrollbar {
        width: 2vw; /*view width units for scaling size*/
    }

    .articleContainer::-webkit-scrollbar-thumb {
        background-color: rgb(112, 26, 26);
        border-radius: 25px;
    }
    .articleContainer::-webkit-scrollbar-thumb:hover {
        background-color: rgb(129, 48, 48);
    }

    .articleContainer::-webkit-scrollbar-track {
        background-color: black;
        border-radius: 25px;
    }

    .articleContainer > article {
        display: flex;
        flex-direction: column;
        text-align: center;
        scroll-snap-align: start; /*belongs to objects in container*/
    }

    article > a {
        margin: 10px 20px 0px 20px;
    }

    a > img {
        height: 400px;
        width: 300px;
        border: 8px;
        border-bottom: 0px;
        border-style: solid;
        border-color: rgb(112, 26, 26);
        border-radius: 20px 20px 0px 0px;
    }

    a > p {
        background-color: #dab297;
        margin: -5px 20px 10px 20px;
        width: 300px;
        border: 8px;
        border-top: 0px;
        border-style: solid;
        border-color: rgb(112, 26, 26);
        border-radius: 0px 0px 20px 20px;
    }

    @media (max-width: 1120px) {
        .newsP {
            font-size: 1.6em;
        }

        a > img {
            width: 280px;
        }
    
        a > p {
            width: 280px;
        }
    }

    @media (max-width: 768px) {
        .newsP {
            font-size: 1.3em;
        }

        a > img {
            width: 220px;
            height: 280px;
        }
    
        a > p {
            width: 220px;
        }
    }

    @media (max-width: 650px) { 
        .newsP {
            font-size: 1.2em;
        }

        a > img {
            width: 180px;
            height: 240px;
        }
    
        a > p {
            width: 180px;
            font-size: .93em;
        }
    }

    @media (max-width: 450px) {
        .newsP {
            font-size: 1em;
        }

        a > img {
            width: 160px;
            height: 200px;
        }
    
        a > p {
            width: 160px;
            font-size: .85em;
        }
    }

    @media (max-width: 380px) {
        .newsP {
            font-size: .9em;
        }

        a > img {
            width: 150px;
            height: 160px;
        }
    
        a > p {
            width: 150px;
            font-size: .73em;
        }
    }

    @media (max-width: 340px) {
        .newsP {
            font-size: .85em;
        }

        a > img {
            width: 120px;
            height: 130px;
        }
    
        a > p {
            width: 120px;
            font-size: .71em;
        }
    }
    /*End of CSS for news*/